.topBar {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters {
    display: flex;
    align-items: stretch;
}

.clearAllFiltersWrapper {
    margin: 5px 15px;

    border-left: 1px solid var(--text-disabled);
}

.clearAllFilters {
    color: var(--text-active);
    font-size: 14px;
    font-weight: 600;
}

.clearAllFilters:disabled {
    color: var(--text-disabled);
}

.clearAllFilters:disabled:hover {
    cursor: inherit;
}

.friendsList {
    margin-top: 20px;
}

.noMore {
    margin-top: 30px;

    text-align: center;
    color: var(--text-secondary);
    font-size: 14px;
}
