.friend {
    height: 114px; 
    margin-bottom: 15px;
    padding: 0px 30px; 

    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid var(--text-disabled);
    border-radius: 6px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.name {
    font-weight: 700; 
}

.status {
    margin-left: 10px;
    padding: 3px 7px;

    border-radius: 21px;

    font-size: 12px;
    font-weight: 600;
}

.status.closeFriends {
    color: #3399FF;
    background-color: #DFEFFF;
}

.status.superCloseFriends {
    color: #19B444;
    background-color: #DCFFE6;
}

.details {
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 500;
}