.friend {
    height: 114px; 
    margin-bottom: 15px;
    padding: 0px 30px; 

    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid var(--text-disabled);
    border-radius: 6px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.name {
    font-weight: 700; 
}

.status {
    margin-left: 10px;
    padding: 3px 7px;

    border-radius: 21px;

    font-size: 12px;
    font-weight: 600;
}

.status.closeFriends {
    color: var(--blue);
    background-color: var(--light-blue);
}

.status.superCloseFriends {
    color: var(--green);
    background-color: var(--light-green);
}

.details {
    display: flex;

    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 500;
}

/* Shimmer */

@keyframes bg-pan-left {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.shimmer .left, .shimmer .right {
    height: 100%;
    /* background: linear-gradient(90deg, #EAEAEA 26.47%, rgba(234, 234, 234, 0.25) 100%); */
    background-image: linear-gradient(90deg,#EAEAEA 26.47%,rgba(234, 234, 234, 0.1) 100%);
    background-size: 400% 100%;
    animation: bg-pan-left 1s infinite alternate forwards;
    border-radius: 27px;
}

.shimmer .right {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.shimmer .header {
    height: 18px;
    justify-content: space-between;
}

.shimmer .header .left {
    width: 295px;
}

.shimmer .header .right {
    width: 118px;
}

.shimmer .details {
    height: 14px;
    justify-content: space-between;
}

.shimmer .details .left {
    width: 340px; 
}

.shimmer .details .right {
    width: 84px;
}