:root {
  /* Global Theme Variables Here */
  font-family: 'Inter', sans-serif;
  font-size: 16px;

  --text-disabled: #D7D7D7; 
  --text-active: #3399FF;

  --dark-background: #091928; 
  --dark-background-text: white;
  
  --selected: #424242;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: inherit; 
  background-color: transparent; 
  border: none; 
}

button:hover {
  cursor: pointer;
}
